body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

.container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  background: transparent;
  background-color: lightcoral;
  border-radius: 6px;
}

h1 {
  text-align: center;
  word-spacing: 4px;
}

.container .inputBox {
  text-align: center;
}

.container .inputBox #passwordDisplay {
  width: 280px;
  padding: 10px;
  font-size: 19px;
  font-family: sans-serif;
  position: relative;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 5px;
}

.inputBox #copyIcon {
  position: absolute;
  margin-top: 8px;
  transform: translateX(-130%);
  cursor: pointer;
  z-index: 2;
  background-color: whitesmoke;
  margin-left: 2px;
  padding: 3px;
}

#inputSlider {
  width: 260px;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 0px;
}

.row {
  display: flex;
  margin-block: 10px;
}

.row .sliderValue {
  margin: auto;
  margin-right: 9px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(42, 42, 231);
}

.row p,
.row label {
  flex-basis: 100%;
  font-size: 18px;
  font-family: cursive;
  letter-spacing: 0.4px;
}

.row input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.generateBtn {
  width: 250px;
  height: 50px;
  margin-block: 8px;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  font-weight: 700;
  background-color: #2c619e;
  color: whitesmoke;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
  transform: transform 0.1s box-shadow 0.1s;
}

.generateBtn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
